@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.header{
    padding-left: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom:  1px solid #dddada;
    width: 100%;
    height: 70px;
    transition: padding-left 1s;

}

.brand{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 36px;
}

.logo{
    height: 25px;
    transform: rotate(40deg);

    margin-right: 5px;
}

.role{
    font-size: 18px;
    color: lightcoral;
}

.start__userid{
    font-size: 32px;
}

.start__wrapper{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    height: 100vh;
    background: white;

}

.start__create__wrapper{
    color: #2b2f35;
    display: flex;
    border: 1px solid #dddada;
    width: 360px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
    background: #eff5fc;
}

.start__join__wrapper{
    color: #2b2f35;
    display: flex;
    border: 1px solid #dddada;
    width: 360px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
    background: #eff5fc;
}

.start__createjoin{
    display: flex;
    width: 900px;
    flex-direction: row;
    justify-content: space-around;
}

.start__textarea{
    width: 160px;
    height: 27px;
    outline: none;
    font-size: 20px;
    align-items: center;
    resize: none;
}

.start__joinbutton{
    border: none;
    outline: none;
    height: 27px;
    color: white;
    background: black;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.start__joinbutton:hover{
    background: lightcoral;
    transition: background 0.3s;
}

.start__joinform{
    display:flex;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.start__genbutton{
    border: none;
    outline: none;
    height: 27px;
    color: white;
    background: black;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    align-items: center;
    margin: 25px;
    font-family: 'Montserrat', sans-serif;
}

.start__genbutton:hover{
    background: lightcoral;
    transition: background 0.3s;
}

.start__createbutton{
    border: none;
    outline: none;
    height: 27px;
    color: white;
    background: black;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.start__select{
    appearance: none;
    outline : none;
    border-radius: 0;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    height: 27px;
    width: 35px;
    font-size: 20px;
}

.start__createbutton:hover{
    background: lightcoral;
    transition: background 0.3s;
}

.room__wrapper{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.room__userlog{
    padding: 10px;
    border: 1px solid #dddada;
    border-radius: 10px;
    margin-bottom: 25px;
    width: 450px;
    background: #eff5fc;
    color: #2b2f35;
}

.id{
    background: #e4cff3;
    padding: 1px 5px;
    border-radius: 7px;
}

.margin{
    margin-bottom: 10px;
}

.room__gamelog{
    color: #2b2f35;
    padding: 10px;
    border: 1px solid #dddada;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    width: 450px;
    background: #eff5fc;
}

.room__userlog__p{
    margin-bottom: 5px;
}

.room__readybutton{
    border: none;
    outline: none;
    height: 27px;
    color: white;
    background: black;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.room__readybutton:hover{
    background: lightcoral;
    transition: background 0.3s;
}

.voteform__button{
    border: none;
    outline: none;
    height: 27px;
    color: white;
    background: black;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.voteform__button:hover{
    background: lightcoral;
    transition: background 0.3s;
}

.killspan{
    color: lightcoral;
}

.voteform__textarea{
    width: 160px;
    height: 27px;
    outline: none;
    font-size: 18px;
    align-items: center;
    resize: none;
}

.voteform__voteform{
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
}

.red{
    color: #d96262;
}

.green{
    color: #4ed64e;
}

.unvisible{
    visibility: hidden;
}

#col{
    margin-right: 10px;
}

@media screen and (max-width: 600px){
    .room__gamelog{
        width: 350px;
        transition: width 1s;
    }
    .room__userlog{
        width: 350px;
        transition: width 1s;
    }
    .room__readybutton{
        width: 350px;
        height: 40px;
    }
    .start__genbutton{
        height: 50px;
        width: 350px;
    }
}